@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-size: 10px;
  font-family: "Open Sans", sans-serif;
  background: #abbaab;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffffff, #abbaab);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffffff, #abbaab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

header {
  font-size: 1.5rem;
  font-weight: bold;
}



.conteiner {
  display: flex;
}

.logo {
  width: 80px;
  border-radius: 100%;
}

h1 {
  text-align: center;
  margin: 1%;
}

h3 {
  margin: 4%;
}